/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

.idea
product_image
/storage/app/public/product_image
/storage/app/public/uploads

/public/bootstrap-4.0.0
/public/bootstrap-4.0.0-dist.zip

#css

/public/css/bootstrap.css
/public/css/bootstrap.css.map
/public/css/bootstrap.min.css
/public/css/bootstrap.min.css.map

/public/css/bootstrap-grid.css
/public/css/bootstrap-grid.css.map
/public/css/bootstrap-grid.min.css
/public/css/bootstrap-grid.min.css.map

/public/css/bootstrap-reboot.css
/public/css/bootstrap-reboot.css.map
/public/css/bootstrap-reboot.min.css
/public/css/bootstrap-reboot.min.css.map





